.first-section {
  padding: 8em 0em !important;
}

.paragraph {
  font-size: 1.33em;
}

.grid-column {
  padding-bottom: 5em !important;
  padding-top: 5em !important;
}

.price-segment {
  padding: 0em !important;
}

.open-source-segment {
  padding: 5em 0em !important;
}

.footer-segment {
  padding: 5em 0em !important;
}
